# debugging and testing
/Debug/
test/osmi-addresses_sqlite_out/
osmi/osmi-addresses_sqlite_out/
test/pos-osmi-testzone.osm

# files of make process
osmi/last_use_of_clang.tmp
osmi/last_use_of_gcc.tmp
osmi/osmi-addresses
osmi/*.o

# files of profiling directory
profiling/pmp-stacktraces

# links created for running mapserver locally
entrance-deprecated.png
entrance-emergency.png
entrance-exit.png
entrance-main.png
entrance-service.png
entrance-yes.png
fontset
symbolset

# vim swap files
.*.sw?

# Eclipse
.cproject
